<?xml version='1.0' encoding='utf-8'?>
<widget id="com.abbyy.rtr.cordova.sample" version="1.0.6" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>RTRCordovaSample</name>
    <description>A sample Apache Cordova application with ABBYY Mobile Capture SDK Plugin.</description>
    <author email="sdk@abbyy.com" href="https://rtrsdk.com">ABBYY Mobile SDK Team</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <preference name="android-minSdkVersion" value="21" />
    </platform>
    <platform name="ios">
        <preference name="deployment-target" value="11.0" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="BackupWebStorage" value="none" />
    <engine name="android" spec="~8.1.0" />
    <engine name="ios" spec="~5.1.0" />
    <plugin name="cordova-plugin-abbyy-rtr-sdk" spec="^1.0.14">
        <variable name="CAMERA_USAGE_DESCRIPTION" value="NSCameraUsageDescription" />
    </plugin>
</widget>
